
body {
    background-image: url('s★rg!rl🎸.jpeg'); /* Ganti dengan gambar yang diinginkan */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    color: white;
}

.container {
    width: 350px;
    background-color: #d52525;
    padding: 20px;
    margin: 50px auto;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); 
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.penyanyi-rapper img{
    width: 100%;  
    max-width: 120px;  
    height: 150px;  
    display: block;
    margin: 0 auto;  
    border-radius: 10px;
}

h2 {
    font-size: 18px;
    color: rgb(237, 185, 195);
    font-style: italic;
    margin-bottom: 10px;
}

.deskripsi {
    text-align: left;
    font-size: 14px;
    margin-top: 15px;
    padding: 10px;
    background-color: #231010;
    border-radius: 5px;
}
